.helper-tooltip {
    text-align: center;
    max-width: 17.5rem;
    font-size: 1.1rem;
    padding: 0.25rem 0.5rem;
    position: fixed;
    display: none;
    z-index: 9999;
    border-radius: 0.125rem;
    background-color: $color-zanah;
    color: $color-parsley;
    pointer-events: none;
}
