.toolbar {
    display: flex;
    font-family: "Roboto",sans-serif;
    margin-left: 5%;

    &-btn {
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        margin-right: 1rem;
        margin-bottom: 0.5rem;
        border: none;
        background: white;

        &:hover {
            cursor: pointer;
        }

        &--text:hover {
            cursor: default;
        }

        &--disabled {
            pointer-events: none;
            color: #9a9a9a;

            svg {
                stroke: #9a9a9a;
            }

            &:hover {
                cursor: default;
            }
        }

        svg {
            width: 1.75rem;
            height: auto;
        }
    }

    .toolbar-btn {
        border: none;
        background: transparent;
        padding: 0;
    }
}
