

#chooseUploadType {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    width: 100%;

    .title {
        color: $color-primary;
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
        font-weight: 500;
    }

    #chooseUploadTypeForm {
        display: grid;
        grid-template-columns: 1fr 1fr;
        height: 80%;
        min-height: 80%;
        width: 100%;

        .uploadNewFileChoice, .uploadNewVersionChoice {
            height: 100%;
            display: grid;
        }

        .uploadNewFileChoice {
            grid-template-columns: 2fr 3fr 0.5fr;
            align-items: center;
        }

        .uploadNewVersionChoice {
            grid-template-columns: 0.5fr 3fr 2fr;
            align-items: center;
        }

        .newProjectBtn, .newVersionBtn {
            cursor: pointer;
            padding: 12px;
            border-radius: 20px;
            height: 50%;
            display: grid;
            grid-template-rows: 1fr 1fr;
            width: 100%;
            box-shadow: 0 0.25rem 0.75rem 0.2rem rgba(29, 81, 147, .25);

            p {
                font-size: 1.1rem;
            }
        }
    }
}

#basicUploadInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;

    .newProjectTitle {
        color: $color-primary;
        font-size: 2.2rem;
        font-family: 'Roboto', sans-serif;
        margin-bottom: 30px;
        font-weight: 500;
    }

    form {
        width: 80%;

        .uploadSubmitBtn {
            display: flex;
            justify-content: center;
            .uploadSubmit {
                border: none;
                background: $color-primary;
                padding: 8px 25px;
                color: white;
                border-radius: 15px;
                margin-top: 30px;
            }
        }

        #generalFormDiv {
            display: flex;
            width: 100%;
            flex-direction: column;
            align-items: center;

            .uploadInfoPart {
                margin: 0;
                font-family: "Roboto",sans-serif;
                width: 100%;
                display: flex;
                flex-direction: row;
                max-width: 560px;


                label {
                    color: $color-primary;
                    font-size: 1.1rem;
                    font-weight: 500;
                    width: 35%;
                }

                input[type=text] {
                    margin-bottom: 30px;
                    height: 45px;
                    color: $text-color;
                    border-radius: 20px;
                    width: 100%;
                    padding: 12px 20px;
                    font-size: 1.1rem;
                    border: 0.06rem solid $text-color;
                }

                input[type="file"] {
                    font-size: 1.1rem;
                    margin-top: 6px;
                    margin-bottom: 20px;
                }

                textarea {
                    padding: 12px 20px;
                    margin-top: 6px;
                    margin-bottom: 30px;
                    height: 150px;
                    width: 80%;
                    color: $text-color;
                    border-radius: 20px;
                    width: 100%;
                    font-size: 1.1rem;
                    resize: none;
                }

                select {
                    margin-bottom: 30px;
                    height: 45px;
                    color: $text-color;
                    border-radius: 20px;
                    width: 100%;
                    padding: 0 20px;
                    font-size: 1.1rem;
                }

                .optionsContainer {
                    margin-bottom: 30px;
                    height: 40px;
                    color: $text-color;
                    border-radius: 20px;
                    border: 0.06rem solid $text-color;
                    width: 100%;
                    font-size: 1.1rem;
                    display: grid;
                    grid-template-rows: 1fr 2fr;

                    .choseUploadMethod {
                        grid-template-columns: 1fr 1fr;

                        a {
                            display: block;
                            text-align: center;
                            line-height: 40px;
                            width: 100%;
                            height: 40px;
                            font-size: 0.9rem;
                            transition: background 0.2s;
                            border-radius: 20px;

                            &:hover {
                                cursor: pointer;
                            }

                            &.selected {
                                border-radius: 20px;
                                background: $color-primary;
                                color: white;
                                transition: background 0.2s;
                            }
                        }
                    }
                }
            }
        }
    }
}
