<div class="signal-table">
    <table class="table table-bordered table-hover table-striped">
        <tbody id="bodyResult"></tbody>
    </table>
    <div id="signalPagination" class="mb-4">
        <form class="small-form">
            <div class="row small-form-row justify-content-end">
                <div class="small-form-col--sm small-form-group small-form-group--center justify-content-end">
                    <label class="control-label mb-0" for="tablePagiSize">Size:</label>
                </div>

                <div class="small-form-col--sm small-form-group small-form-group--right">
                    <select id="tablePagiSize" name="tablePagiSize" class="form-control">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                </div>
            </div>
        </form>
    </div>
</div>
